/*=====   SIGN UP   =====*/

#sign-up {
    padding-top: 50px;
    padding-bottom: 50px;
}

.registr {
    border: 1px solid rgb(219, 219, 219);
}




.sign-up-tx1 {
    font-size: 66px;
    font-family: Volkhov;
    color: rgb(72, 72, 72);
    text-align: left;
}

.sign-up-tx2 {
    font-size: 30px;
    font-family: Volkhov;
    color: rgb(0, 0, 0);
    text-align: left;
}

.sign-up-btn1 {
    width: 254px;
    height: 45px;
    border-radius: 8px;
    border: 1px	Inside rgb(91, 134, 229);
}

.sign-up-btn2 {
    width: 254px;
    height: 45px;
    border-radius: 8px;
    border: 1px	Inside rgb(91, 134, 229);
}

.sign-up-tx4 {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: Poppins;
    color: rgb(131, 131, 131);
}

.sign-up-btn3 {
    background-color: rgb(0, 0, 0);
    width: 475px;
    height: 40px;
    border-radius: 10px;
    box-shadow: Outside shadow;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
}

.sign-up-btn3:hover {
    animation: bounce 1s;
}

.sign-up-tx6 {
    text-decoration: none;
    font-size: 16px;
    font-family: Poppins;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.sign-up-tx7 {
    text-decoration: none;
    font-size: 16px;
    font-family: Poppins;
    color: rgb(91, 134, 229);
    font-weight: 400;
}

.sign-up-tx8 {
    font-size: 16px;
    font-family: Poppins;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-align: right;
}

.form-control {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}






/*========== HOVER ==========*/
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}



/*=====   MEDIA QUERY   =====*/

@media only screen and (min-width: 320px) and (max-width: 1000px) {
    .sign-up-image {
        display: none;
    }

    .sign-up-tx8 {
        padding-top: 50px;
    }

}

@media only screen and (width: 1024px) {
    .register-text {
        padding-top: 0px;
    }

    .sign-up-tx8 {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .register-text {
        padding-top: 20px;
    }

    .sign-up-tx8 {
        padding-top: 130px;
    }
}



